<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<h3><%= @article.author%> </h3>


<%= link_to "Back to articles", articles_path %>
<%= link_to "Edit this article", edit_article_path %>

<%= link_to "Delete this article",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
